.parent1{
    margin-right: 17rem;
    background-image: url(images/headphones_hero_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    padding: 20px;
    color: whitesmoke;
    width: 70rem;
}
.pent{
    display: flex;
    padding: 40px;
}
.pentagon1, .pentagon2, .pentagon3, .pentagon4{
    width: 150px;
    height: 150px;
    background-color: orangered;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    margin: 40px;
  }
